.signin-page {
  position: fixed;
  inset: 0;
  background: rgba(15, 23, 42, 0.5);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.signin-card {
  width: 380px;
  padding: 38px 34px;
  background-color: #ffffff;
  border-radius: 18px;
  position: relative;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
  
}
.close-btn{
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 18px;
  cursor: pointer;
}

.signin-card h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #0f172a;
}

.signin-card p {
  font-size: 14px;
  color: #26292e;
  margin-bottom: 26px;
}

.signin-card form {
  display: flex;
  flex-direction: column;
}

.signin-card label {
  font-size: 13px;
  margin-bottom: 6px;
  color: #0f0f10;
}

.signin-card input {
  padding: 11px 14px;
  font-size: 14px;
  border-radius: 10px;

  background: #f8fafc;
  color: #0f172a;

  border: 1px solid #e5e7eb;
  margin-bottom: 20px;
  outline: none;

  backdrop-filter: blur(10px);
}

.signin-card input::placeholder {
  color: rgba(54, 52, 52, 0.65);
}

.signin-card input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.signin-card button {
  margin-top: 6px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(to bottom, #4f46e5, #6366f1);
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.signin-card button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 0 5px rgba(79, 70, 229, 0.35);
}


