.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    padding: 15px 40px 15px 20px;
    border-bottom: 2px solid rgba(170, 158, 158, 0.081);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    height:100px ;
}
.navs ul{
     display: flex;
     gap: 40px;
  
}
.navs ul li {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}
.navs ul li:hover{
    color: #2563eb;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: auto;
    height:60px;
  object-fit: contain;
}
.user i{
    font-size: 30px;
    color: #475569;
}
.user{
     display: flex;
    align-items: center;
    gap: 14px;
}
.user .sign-btn button{
    font-size: 14px;
    border: none;
    border-radius: 20px;
    padding: 8px 18px;
    background-color: #4f46e5;
    color: white;
    cursor: pointer;
    transition: all 0.25s ease;
}
.user .sign-btn button:hover {
    background-color: #4338ca;
}