/* PAGE BACKGROUND */
.schedule-page {
  min-height: 100vh;
    background:
        radial-gradient(circle at top, #1e293b, #020617);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.schedule-page .title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;

  background: linear-gradient(
    to bottom,
    #4f46e5,
    #38bdf8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.schedule-card {
  width: 380px;
  background-color: #ffffffb2;
  padding: 32px 28px;
  border-radius: 18px;
}

.schedule-card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #0f172a;
  margin-bottom: 20px;
  text-align: center;
}

.meet-id {
  background-color: #f1f5f9;
  border-radius: 12px;
  padding: 14px;
  text-align: center;
  margin-bottom: 24px;
}

.meet-id h4 {
  font-size: 13px;
  font-weight: 500;
  color: #64748b;
  margin-bottom: 6px;
}

.meet-id strong {
  font-size: 15px;
  color: #4f46e5;
  letter-spacing: 5px;
}

.schedule-card label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #334155;
  margin-bottom: 6px;
}

.schedule-card input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  font-size: 14px;
  margin-bottom: 18px;
  outline: none;
}

.schedule-card input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.schedule-card button {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(
    90deg,
    #4f46e5,
    #6366f1
  );
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.schedule-card button:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 30px rgba(79, 70, 229, 0.35);
}
