.footer {
  background-color: #f8fafc;
  padding: 60px 80px 30px;
  border-top: 1px solid #e5e7eb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e7eb;
}

.footer-brand {
  max-width: 300px;
}

.footer-brand img {
  height: 48px;
  margin-bottom: 14px;
}

.footer-brand p {
  font-size: 14px;
  line-height: 1.6;
  color: #475569;
}

.footer-links h4 {
  font-size: 16px;
  margin-bottom: 14px;
  color: #0f172a;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #475569;
  transition: color 0.2s ease;
}

.footer-links li:hover {
  color:#4f46e5 ;
  transform: none;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 13px;
  color: #64748b;
}
.footer-logo {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 14px;
  letter-spacing: 0.3px;

  background: linear-gradient(
    90deg,
    #4f46e5,
    #6366f1
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-social h4{
  font-size: 16px;
  font-weight: 600;
  color: #0f172a;
  margin-bottom: 14px;
}
.social-item {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
.social-item i {
  margin-top: 10px;
  font-size: 30px;
  cursor: pointer;
  color: #475569;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f5f9;
  transition: all 0.25s ease;
}
.social-item span {
  font-size: 14px;
  color: #0f172a;
  opacity: 0;
  transition: all 0.25s ease;
  pointer-events: none;
}
.social-item:hover i {
  color: #4f46e5;
  background-color: #e0e7ff;
}

.social-item:hover span {
  opacity: 1;
  transform: translateY(2px);
}



